<button pButton type="button" label="Add New Book" icon="pi pi-plus" (click)="showAddBookDialog()"></button>

<p-dialog header="Add New Book" [(visible)]="displayDialog" [modal]="true" [closable]="false" [style]="{width: '50vw'}">
  <app-add-book-form (bookAdded)="onBookAdded($event); hideAddBookDialog()"></app-add-book-form>
  <button pButton type="button" label="Cancel" severity="secondary" icon="pi pi-times" (click)="hideAddBookDialog()"></button>
</p-dialog>

<p-dialog header="Edit Book" [(visible)]="displayEditDialog" [modal]="true" [closable]="false" [style]="{width: '50vw'}">
  <ng-container *ngIf="selectedBook">
    <app-edit-book-form [book]="selectedBook" (bookUpdated)="onBookUpdated($event); hideEditBookDialog()"></app-edit-book-form>
  </ng-container>
  <button pButton type="button" label="Cancel" severity="secondary" icon="pi pi-times" (click)="hideEditBookDialog()"></button>
</p-dialog>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<div class="book-cards-container">
  <p-card
    *ngFor="let book of books"
    [subheader]="book.author"
    [style]="{ width: '25rem', overflow: 'hidden' }"
  >
     <ng-template pTemplate="header">
        <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" [style]="{maxHeight: '20em'}" />
    </ng-template>
    <ng-template pTemplate="title">{{ book.title }} </ng-template>
    <ng-template pTemplate="subtitle">{{ book.author }}</ng-template>
    <p><strong>Rating:</strong> {{ book.rating }}</p>
    <p><strong>Notes:</strong> {{ book.notes }}</p>
    <ng-template pTemplate="footer">
      <div class="flex gap-4 mt-1">
        <p-button label="Edit" class="w-full" styleClass="w-full" (click)="showEditBookDialog(book)" />
        <p-button label="Delete" class="w-full" styleClass="w-full" (click)="confirmDelete(book)" severity="danger" icon="pi pi-trash" />
      </div>
    </ng-template>
  </p-card>
</div>
